@model IEnumerable<Online_Money_Transfer_MVC.Models.MoneyTransfer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransferAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransferDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoneySender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoneyReceiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransferAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransferDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoneySender.SenderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoneyReceiver.ReceiverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provider.ProviderName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
